repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0  # keep in sync with pyproject.toml
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/PyCQA/isort
    rev: '8.0.0'  # keep in sync with pyproject.toml
    hooks:
    -   id: isort
-   repo: https://github.com/PyCQA/flake8
    rev: '7.3.0' # keep in sync with pyproject.toml
    hooks:
    -   id: flake8
